.hero-txt {
  font-family: "BankGothic Md BT";
  /* font-style: 700; */
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  text-align: center;
  text-transform: uppercase;
}

.hero h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  text-align: center;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  border-radius: 40px;
  width: fit-content;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background: #e98bc7;
  transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
  color: black;
  font-weight: 600;
}

.github-icon {
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
}

@media screen and (max-width: 660px) {
  .hero {
    margin-top: 6rem;
    width: 100%;
    padding: 0 0.5rem;
  }
  .hero-txt {
    font-size: 25px;
    line-height: 30px;
  }
  .hero h3 {
    font-size: 12px;
    line-height: 20px;
  }
  .hero-btns {
    padding: 10px 30px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    margin-top: 8rem;
    width: 100%;
    padding: 0 0.5rem;
  }
  .hero-txt {
    font-size: 60px;
    line-height: 68px;
  }
  .hero h3 {
    font-size: 30px;
    line-height: 45px;
  }
  .hero-btns {
    padding: 20px 30px;
    line-height: 20px;
    transform: translateX(80%);
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -ms-transform: translateX(80%);
    -o-transform: translateX(80%);
  }

  .github-icon {
    width: 40px;
    height: 30px;
  }
}
