/* import my custom font from assets/fonts/BankGothicMedium.ttf */
/* import my custom font from assets/fonts/SFPRODISPLAYMEDIUM.OTF */

@font-face {
  font-family: "BankGothicMedium";
  src: url("../../../../assets/fonts/BankGothicMediumBT.ttf");
}

@font-face {
  font-family: "SFPRODISPLAYMEDIUM";
  src: url("../../../../assets/fonts/SFPRODISPLAYMEDIUM.OTF");
}

.custom-font-h1 {
  font-family: "BankGothicMediumBT";
  line-height: 80px;
  font-weight: 500;
}

.custom-font-h1-mission {
  font-family: "BankGothicMediumBT";
  font-weight: 500;
}

.custom-font-h2 {
  font-family: "SFPRODISPLAYMEDIUM";
  line-height: 30px;
  font-weight: 500;
}
.custom-font-h2-mission {
  font-family: "SFPRODISPLAYMEDIUM";
  line-height: 30px;
  font-weight: 500;
}



.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 40px 12px 30px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background: #e98bc7;
  /* transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%); */
  color: black;
  font-weight: 600;
}

.github-icon {
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
}

@media screen and (max-width: 660px) {
  .hero {
    width: 100%;
    padding: 0 0.5rem;
  }
  .hero h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .hero h3 {
    font-size: 15px !important;
    line-height: 20px !important;
    width: 100%;
  }
  .hero-btns {
    padding: 10px 30px !important;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-txt {
    font-size: 60px;
    line-height: 68px;
  }
  .hero h3 {
    font-size: 30px;
    line-height: 45px;
  }
  .hero-btns {
    padding: 20px 30px;
    line-height: 20px;
  }

  .github-icon {
    width: 40px;
    height: 30px;
  }
}
